
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: #fff;
}
.container{
  display: flex;
  width: 1200px;
  margin: auto;
}
nav{
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 280px;
  height: 110vh;
  background: #305350;
}
.navbar{
  width: 80%;
  margin: 0 auto;
}

.submenu {
    color: #fff;
    display: none;
    margin-left: 8px;
    margin-top: 10px;
}
.submenu.active {
    display: block;
}
.submenu li {
    padding: 10px 20px;
    display: flex; 
    
  }
  .submenu li i {
    margin-right: 8px; 
  }

  .submenu a {
    display: flex; 
    
  }
#startup {
    color: #fff;
    cursor: pointer;
}
  
.logo{
  margin: 2rem 0 1rem 0;
  padding-bottom: 3rem;
  display: flex;
  align-items: center;
  
}
.logo img{
  width: 80%;
  height: 50%;
  margin-left: 5px;
  
}

ul{
  margin: 0 auto;
}
li{
  padding-bottom: 2rem;
}
li a{
  font-size: 16px;
  color: #fff;
}
nav i{
  width: 50px;
  font-size: 18px;
  text-align: center;
}
nav ul .nav-1:hover{
  background-color: #D2A340;
  border-radius: 4%;
  padding: 10px;
  margin: 5px;
}

nav ul #startup:hover{
  background-color: #D2A340;
  width: 100%;
  border-radius: 4%;
  padding: 10px;
  margin: 5px;
}


.logout{
  position: absolute;
  bottom: 20px;
}

/* Main Section */
.main{
  width: 100%;
}
.main-top{
  width: 100%;
  background: #305350;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
.main-body{
  padding: 10px 10px 10px 20px;
}
h1{
  margin: 20px 10px;
}

.card{
  margin: 10px;  
  width: 80%;
  padding: 15px;
  cursor: pointer;
  display: flex;
  border-radius: 10px;
  background: #fff;
  margin-bottom: 15px;
  justify-content: space-between;
  border: 2px solid rgb(190, 190, 190);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

.content-section:not(:first-child) {
    display: none;
}


/* List Startups  */
.list{
    margin-top: 20px;
    text-transform: capitalize;
  }
.list h1{
    color: #305350 ;
}
  .startup_list{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }
  .table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    min-width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
  }
  table thead tr{
    color: #D2A340    ;
    background: #305350 ;
    text-align: left;
    font-weight: bold;
  }
  .table th,
  .table td{
    padding: 12px 15px;
  }
  .table tbody tr{
    border-bottom: 1px solid #ddd;
  }
  .table tbody tr:nth-of-type(odd){
    background: #fff;
  }
  .table tbody tr.active:hover{
    font-weight: bold;
    color:  #305350 ;
    transition: 1s;
    cursor: pointer;
  }
  .table tbody tr:last-of-type{
    border-bottom: 2px solid  #305350;
  }
  .table button{
    padding: 6px 20px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    border: 1px solid  #305350 ;
  }
  .table button:hover{
    background:  #D2A340;
    color: #fff;
    transition: 0.5rem;
  }
  td{
      text-align: center;
  }
  th{
    text-align: center;
  }

  /*formulario */

  .container1 {
    max-width: 800px;
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #305350;
}

.form-group {
    margin-bottom: 20px;
}

.form-group-1{
  margin-bottom: 20px;
  display: flex;
  gap: 15px;
}
.form-group-2{
  margin-bottom: 20px;
  display: flex;
  gap: 15px;
}
label {
    display: block;
    margin-bottom: 8px;
    color: #305350;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 5px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.btn-enviar,
.btn-cancelar {
    background-color: #D2A340;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-cancelar {
    background-color: #ccc;
    margin-left: 10px;
}

.form-actions {
    text-align: center;
}



/* dashboard */


